/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #499bf8;
}
/* Logo */
.logo {
  width: 100%;
  max-height: 600px;
}

/* Ajuste para el logo */
.header .logo-container {
  display: flex;
  justify-content: center;
}

.header .logo-container img {
  width: 100%;
  height: auto;
}

.header .logo-container img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
      "header"
      "content"
      "footer";
  gap: 20px;
  padding: 20px;
  width: 100%;
  min-height: 100vh;
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  width: 100%;
}

/* Estilo de los elementos dentro del grid */
.grid-item {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

/* Header */
.header {
  grid-area: header;
  background-color: #5dcafc;
  color: white;
  padding: 10px 0;
  text-align: center;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

/* Main content */
.main-content {
  grid-area: content;
  width: 100%;
}

.content h1,
.content h2 {
  text-align: center;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 65px;
}

/* Block elements */
.block-element {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

.block-element img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Image Container */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Buttons */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.btn-shop {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: #080808;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease; 
  animation: pulse 1s infinite; 
}

.btn-shop:hover {
  background-color: rgb(93, 95, 93);
}
/* Footer */
.footer {
  grid-area: footer;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li {
  display: inline;
  margin: 0 10px;
}

.footer ul li a {
  color: white;
  text-decoration: none;
}

/* FAQ Section */
.faq-container {
  width: 80%;
  margin: 0 auto;
}

.faq {
  margin-bottom: 10px;
  border: 1px solid #f1f1f1;
}

.faq input[type="checkbox"] {
  display: none;
}

.faq-question {
  display: block;
  width: 100%;
  padding: 15px;
  margin: 30px 10px;
  background-color: #f8b06d;
  color: #f1f1f1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  cursor: pointer;
}

.faq-answer {
  padding: 2px;
  margin: 25px 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.faq input[type="checkbox"]:checked + .faq-question + .faq-answer {
  max-height: 200px;
}

/* Other Styles */
.center-text {
  text-align: center;
}

.inline {
  margin: 20px 35px 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: #f1f1f1;
}
