@use "../config/variables" as vars;
@use "../config/tipo" as tipo;
@use "../config/reset" as reset;
@media (max-width: 600px) {
  .logo-container {
    width: 100%;
    min-height: 200px;
  }
  .img1,
  .img2 {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
@media (max-width: vars.$mobile-breakpoint) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "header"
      "content"
      "footer";
    gap: vars.$small-gap;
    margin-bottom: vars.$small-gap;
  }

  .content-grid {
    flex-direction: column;
    margin: 0;
    padding: 0 vars.$small-gap;
  }

  .grid-item {
    flex: 0 0 100%;
    margin-bottom: vars.$small-gap;
    padding: vars.$small-gap;
  }
}
@media (max-width: 600px) {
  .content h1,
  .content h2 {
    font-size: 20px; /* Tamaño más pequeño para móviles */
  }
}
@media (max-width: 600px) {
  .section-grid {
    grid-template-columns: 1fr; /* Cambia a una columna */
    grid-template-rows: auto auto;
    grid-template-areas:
      "texto"
      "formulario";
    gap: 10px;
    padding: 15px;
  }
}
@media (max-width: 600px) {
  .formulario {
    max-width: 100%; /* Ocupa todo el ancho */
    margin: 20px auto; /* Ajusta los márgenes para móviles */
    padding: 10px; /* Reduce espacio interno */
    font-size: vars.$font-mobile;
  }
}
@media (max-width: 768px) {
  .header {
    padding: vars.$small-gap 0; // Ajusta el padding para pantallas pequeñas
    font-size: vars.$small-font-size; // Reduce el tamaño de la fuente

    nav ul {
      display: flex;
      flex-direction: column; // Cambia los elementos de navegación a vertical
      align-items: center;

      li {
        margin: 5px 0; // Ajusta los márgenes para distribución vertical
      }
    }
  }
}
