/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Variables */
  $primary-color: #499bf8;
  $secondary-color: #5dcafc;
  $text-color: white;
  $font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  $border-radius: 10px;
  
  /* Mixins */
  @mixin box-style {
    background-color: white;
    padding: 20px;
    border-radius: $border-radius;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  @mixin button-style($bg-color, $hover-color) {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: $bg-color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
    &:hover {
      background-color: $hover-color;
    }
  }
  
  /* Estilos generales */
  body {
    font-family: $font-family;
    background-color: $primary-color;
  }
  .logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative; // Necesario para superponer imágenes
  
    img {
      width: 100%;
      height: auto;
      max-height: 600px;
      position: absolute; // Superponer imágenes
      top: 0;
      left: 0;
      transition: opacity 1s ease-in-out; // Transiciones suaves
  
      &.img1 {
        // Estilos específicos para la primera imagen
        z-index: 1;
        opacity: 1; // Primera imagen inicialmente visible
      }
  
      &.img2 {
        // Estilos específicos para la segunda imagen
        z-index: 0;
        opacity: 0; // Segunda imagen inicialmente oculta
      }
    }
  }
  /* Header */
  .header {
    grid-area: header;
    background-color: $secondary-color;
    color: $text-color;
    padding: 10px 0;
    text-align: center;
  
    nav {
      ul {
        list-style-type: none;
        padding: 0;
  
        li {
          display: inline;
          margin: 0 10px;
  
          a {
            color: $text-color;
            text-decoration: none;
          }
        }
      }
    }
  }
/* Grid */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "content"
    "footer";
  gap: 20px;
  padding: 20px;
  width: 100%;
  min-height: 100vh;
}

/* Carrusel */
.content-grid {
  display: flex; /* Cambiado a flex para el carrusel */
  gap: 20px;
  justify-content: flex-start; /* Alinear elementos al inicio */
  width: 100%; /* Ajustar el ancho al 100% del contenedor padre */
  overflow-x: auto; /* Permitir el desplazamiento horizontal */
  scroll-snap-type: x mandatory; /* Añadido para el comportamiento de carrusel */

  @media (max-width: 768px) {
    flex-direction: column; /* Cambiar la dirección a columna en pantallas pequeñas */
  }
}

/* Estilo de los elementos dentro del carrusel */
.grid-item, .block-element {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 0 0 25%; /* Asegurarse de que los elementos no se encogen y ocupan un cuarto del ancho del carrusel */
  scroll-snap-align: center; /* Añadido para el comportamiento de carrusel */
  @include box-style;
}
  
  /* Main content */
  .main-content {
    grid-area: content;
    width: 100%;
  
    h1, h2 {
      text-align: center;
      color: $text-color;
      font-family: $font-family;
      font-size: 65px;
  
      @media (max-width: 768px) {
        font-size: 40px;
      }
    }
  }
  
  /* Buttons */
  .btn-shop {
    @include button-style(#080808, #050505);
  }
  
  /* Footer */
  .footer {
    grid-area: footer;
    background-color: #333;
    color: $text-color;
    text-align: center;
    padding: 10px 0;
  
    ul {
      list-style-type: none;
      padding: 0;
  
      li {
        display: inline;
        margin: 0 10px;
  
        a {
          color: $text-color;
          text-decoration: none;
        }
      }
    }
  }
  
  /* FAQ Section */
  .faq-container {
    width: 80%;
    margin: 0 auto;
  }
  
  .faq {
    margin-bottom: 10px;
    border: 1px solid #f1f1f1;
  
    input[type="checkbox"] {
      display: none;
    }
  
    .faq-question {
      display: block;
      width: 100%;
      padding: 15px;
      margin: 30px 10px;
      background-color: #f8b06d;
      color: #f1f1f1;
      font-family: $font-family;
      font-size: 20px;
      cursor: pointer;
    }
  
    .faq-answer {
      padding: 2px;
      margin: 25px 0;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;
      color: $text-color;
      font-family: $font-family;
      font-size: 20px;
  
      input[type="checkbox"]:checked + & {
        max-height: 200px;
      }
    }
  }
  
  /* Other Styles */
  .center-text {
    text-align: center;
  }
  
  .inline {
    margin: 20px 35px 30px;
    font-family: $font-family;
    font-size: 25px;
    color: #f1f1f1;
  }