$h1: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$h2: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$fonttext: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$navtext: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
