$primary-color: #499bf8;
$secundary-color: white;
$large-gap: 20px;
$small-gap: 10px;
$mobile-breakpoint: 600px;
$header-bg: #5dcafc;
$faqcolor: #f8b06d;
$faqcolor2: #f1f1f1;
$transition-time: 0.3s;
$inline-bg-color: #2870f7;
$inline-border-color: #438cdf;
$inline-font-color: #fbfdff;
$social-color: #f4f7f8;
$social-hover-color: #424242;
$social-gap: 15px;
$social-font-size: 40px;
$font-size-h: 50px;
$font-size: 20px;
$font-mobile: 14px;
$button-color: #080808;
$hover-color: rgb(93, 95, 93);
$grid-color: rgba(0, 0, 0, 0.1);
$inline-border-color: #438cdf;
$footer-color: #333;
